@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
    Promact<br />    
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Promact.com">Support@Promact.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Promact.com">Marketing@Promact.com</a>
</address>